<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://jisuyoujie.oss-cn-hangzhou.aliyuncs.com/ios/jsyj.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jikehuishou.oss-cn-hangzhou.aliyuncs.com/jsyj/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181206154258.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://jikehuishou.oss-cn-hangzhou.aliyuncs.com/jsyj/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181206154258.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jisuyoujie.ios</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>极速有借</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
